@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background: url("https://img.freepik.com/free-photo/textured-white-paper_53876-89545.jpg?w=2000");
    padding: 100px 0;
}

.container {
    width: 800px;
    min-height: 1100px;
    border: 10px solid #fff;
    margin: 0 auto;
    background: #fff
}

.header {
    display: flex;
    height: 200px;
}

.title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    display: flex;
    width: 75%;
    height: 100%;
    font-size: 30px;

}

.userpic {
    display: flex;
    width: 25%;
    height: 100%;
    border: 2px solid blue;

}